server:
  port: 8080
spring:
  application:
    name: "students-ms"
  devtools:
    add-properties: false
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/students_db
    username: postgres
    password: 1234
  sql:
    init:
      mode: never

#  h2:
#    console:
#      enabled: true
#      path: "/h2"
  profiles:
    include: null
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
logging:
  level:
    org.springframework.data.r2dbc: DEBUG
    org.springframework.r2dbc.core: DEBUG
    io.r2dbc.postgresql.QUERY: DEBUG
    io.r2dbc.postgresql.PARAM: DEBUG
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
